{% extends 'base.html' %}

{% block title %}
   <title>Get Patient</title>
{% endblock %}

{% block body %}

<form class="" action="/diagnosis_for_patient" method="POST">

  <table border='0' width='480px' cellpadding='0' cellspacing='0' align='center'>
<center><tr>
   <td><h1 id="hhh">Search Patient</h1></td>
</tr><center>

<table border='0' width='480px' cellpadding='0' cellspacing='0' align='center'>
<tr>
    <td align='left' class="control-label" for="cid" >Patient ssnid<span class="required">*</span></td>
<td><input type="text" id="cid" name="ssnid" required="required" class="form-control"></td>
</tr>
<tr> <td>&nbsp;</td> </tr>

<tr>
  <td><h6 id="col">(*) Fields are compulsory</h6></td>
</tr>
<tr> <td>&nbsp;</td> </tr>

{% if message %}
<table border='0' cellpadding='0' cellspacing='0' align='center'>
  <tr>
      <td style="color: red;"><h6>{{ message }}</h6></td>
  </tr>
  </table> 
  <tr> <td>&nbsp;</td> </tr>
{% endif %}
<tr> <td>&nbsp;</td> </tr>

<table border='0' cellpadding='0' cellspacing='0' width='200px' align='center'>
<tr>
    <td align='center'><button type="submit" class="btn btn-primary">Get details</td>
</tr>
<tr> <td>&nbsp;</td> </tr>
</table>
</table>
</table>
</form>
{% endblock %}