{% extends 'base.html' %}

{% block title %}
    <title>Search Patient</title>
{% endblock %}


{% block body %}
<form class="" action="/patient" method="GET">

  <table border='0' width='480px' cellpadding='0' cellspacing='0' align='center'>
<center><tr>
   &nbsp;
   <td><h2 id="hhh">Get Patient Information</h2></td>
</tr><center>

<table border='0' width='480px' cellpadding='0' cellspacing='0' align='center'>
<tr>
    <td align='left' class="control-label" for="cid" >Patient SSNID<span class="required">*</span></td>
<td><input type="text" id="cid" name="patient_ssnid" required="required" class="form-control"></td>
</tr>
<tr> <td>&nbsp;</td> </tr>

{% if error %}
    <tr>
        <td><h6 id="col">{{ error }}</h6></td>
    </tr>
{% endif %}
<tr> <td>&nbsp;</td> </tr>


<tr>
  <td><h6 id="col">(*) Fields are compulsory</h6></td>
</tr>
<tr> <td>&nbsp;</td> </tr>



<table border='0' cellpadding='0' cellspacing='0' width='200px' align='center'>
<tr>
    {% if message=='delete' %}
    <td align='center'><button type='submit' class="btn btn-primary" name="sub" value='{{ message }}'>Submit</td>
    {% elif message=='update' %}
    <td align='center'><button type='submit' class="btn btn-primary" name="sub" value='{{ message }}'>Submit</td>
    {% elif message=='display' %}
    <td align='center'><button type='submit' class="btn btn-primary" name="sub" value='{{ message }}'>Submit</td>
    {% endif %}
    <td align='center'><button type="button" class="btn btn-primary" onclick="reset()">Reset</td>
</tr>
<tr> <td>&nbsp;</td> </tr>
</table>
</table>
</table>
</form>
{% endblock %}

